node_modules/
build/
package/
coverage/
tools/
*.tgz
/.project
/log.txt
src/log.txt
*.swp
red-out.txt
CHANGELOG.html
README.html
DEVELOPERS.html
test/settings*.json
.tscache
src/.baseDir.ts
xunit-results.xml

src/swagger/lib/git_push.sh
src/swagger/lib/.swagger-codegen-ignore
src/swagger/lib/.swagger-codegen